
<app-navegacion></app-navegacion>
<h1>asdfafda h1</h1>
<!-- <div class="cajadestacada">
  asdfasdf
  <header> header pepe</header>

</div>

<article>
  <header>
    <h1>A heading here</h1>
    <p>Posted by John Doe</p>
    <p>Some additional information here</p>
  </header>
  <p>Lorem Ipsum dolor set amet....</p>
</article>

<div class="row">

   <div class="col-4 menu">
     <ul>
                <li onclick="pep(1)">
                    opcion 1
                </li>
                <li>
                  opcion 1
              </li>
              <li>
                opcion 1
            </li>
    </ul>

   </div>
   <div class="col-4">
        2
  </div>
  <div class="col-4">
          3
  </div>
</div>


<div class="topnav divresize">
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
</div>
 -->
